@media (max-width: 375px) {
  header {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
    z-index: 9;
  }
}
